body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    align-items: center;
    background-color: #ffffff;
}

body.darkMode {
    background-color: #000000;
}

body.darkMode.mouseIsMoving {
    color: white;
}

body.darkMode.mouseIsMoving .button {
    outline: white solid 0.1em;
}

body.darkMode.mouseIsMoving .button:hover {
    outline: white solid 0.15em;
}

h1 {
    font-size: 29px;
    line-height: 39px;
    font-weight: 300;
}

.title {
    margin-bottom: 40px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.button {
    width: 100%;
    max-width: 155px;
    padding: 0.5em;
    outline: black solid 0.1em;
    border-radius: 0.1em;
    margin: 0.5em 0;
    box-sizing: border-box;
    text-align: center;
}

.button:hover {
    cursor: pointer;
    outline: black solid 0.15em;
}

.footer {
    text-align: center;
    margin: 20px 0;
}

#app {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
body {
    background-color: #000000;
    cursor: none;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 4em;
}

p {
    font-size: 1em;
}

.text {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    animation: fadeOut 2s forwards;
    animation-delay: 7.5s;
    position: absolute;
}

.time {
    color: #ffffffff;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

*/